<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>nsIfcHtml</title>
		<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
		<script
			type="text/javascript"
			src="{{url_for('static', filename='three.min.js')}}"
		></script>
		<script
			type="text/javascript"
			src="{{url_for('static', filename='OrbitControls.js')}}"
		></script>
		<script
			type="text/javascript"
			src="{{url_for('static', filename='nsFuncUI3d.js')}}"
		></script>
		<script
			type="text/javascript"
			src="{{url_for('static', filename='nsElementObj.js')}}"
		></script>
		<script
			type="text/javascript"
			src="{{url_for('static', filename='nsIfcGenFunc.js')}}"
		></script>
	</head>
	<body>
		<script></script>
		<h1>IFC Viewer</h1>
		<div id="container">
			<table>
				<tr>
					<td>
						<div id="selectors" class="left"></div>
						<button id="showdatabtn" onclick="showDataFunc()">Show Data</button>
					</td>
					<td>
						<div id="div3d"></div>
					</td>
				</tr>
			</table>
		</div>
		<script>
			const Width=500;
			const Height=500;
			var scene, camera, controls, renderer;
			var meshArr=[];
			var BldgObjLi=[];
			const DATA = {{ data|safe }};
			genGeomFunc(DATA); // ifcGenFunc.js --> entry point
		</script>
	</body>
</html>
